#dashboard-container {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  gap: 30px;
}

#recent-discussions {
  width: 300px;
  padding: 10px 0;
  background: rgba(136, 136, 136, 0.5);
  border-radius: 15px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);

  h1 {
    padding: 10px;
    font-size: 20px;
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .recent-discussion-item {
    max-height: 125px;
    display: grid;
    grid-template-rows: 30px 1fr 20px;
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);

    &:first-child {
      border-top: none;
    }

    .community-info {
      display: flex;
      align-items: center;
      gap: 5px;

      img {
        height: 100%;
        width: 30px;
        border-radius: 100%;
        border: 1px solid black;
      }

      a {
        font-weight: 600;
        font-size: 16px;
        margin: 0;
        text-decoration: none;
        color: inherit;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .discussion-title {
      display: flex;
      margin: 0;
      padding: 10px 0;
    }

    .discussion-metadata {
      display: flex;
      align-items: center;
      gap: 10px;

      p {
        margin: 0;
      }

      .divider {
        height: 3px;
        width: 3px;
        border-radius: 100%;
        background: black;
      }
    }
  }
}

#community-news {
  width: 300px;
  padding: 10px 0;
  background: rgba(136, 136, 136, 0.5);
  border-radius: 15px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);

  h1 {
    padding: 10px;
    font-size: 20px;
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
