.group-pfp {
  height: 100%;
  border-radius: 100%;
  cursor: pointer;
  background: #777;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  svg {
    height: 20px;
    width: 20px;
  }
}

.pfp {
  height: 100%;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 100%;
    border: 3px solid white;
  }
}
